/*레이아웃*/
#wrap{width: 100%;}
#header{height: 325px;background: #111; background:url(../img/header_bg.jpg) top center repeat-x;}
#contents{}
#footer{width: 100%;height: 200px;background:#f6fdff;border-top:1px solid #eee;}

/* 스킵 메뉴*/
#skip{position:absolute;}
#skip a{position: absolute; left:5px; top:-40px; color:#fff;width:130px;height:30px;font-size:11px;}
#skip a:active,#skip a:focus{top:0;}

/*컨텐츠 레이아웃*/
#cont_nav{width: 100%;height: 200px;background:#f6fdff;}
#cont_tit{background: #eaf7fd;}
#cont_ban{}
#cont_cont{background:#f6fdff;}

/*컨테이너*/
.container{width: 990px;margin: 0 auto;height:inherit;}

/*헤더 메뉴*/
.header{ }
.header .header-menu{text-align: right; }
.header .header-menu a{display:inline-block;color:#fff;padding:10px; }

.header-tit{text-align:center;}
.header-tit h1{color:white; background:#4aa8d4; text-transform: uppercase; padding:5px;display:inline-block;margin-top:30px;}
.header-tit a{color:white; background-color:#2698cb; padding:6px;display:inline-block;margin-top:-5px;}

/*헤더아이콘*/
.header .header-icon{text-align: center; margin:20px;}
.header .header-icon a{width:60px; height:60px; background:url(../img/icon.png); display:inline-block;}

.header .header-icon a.icon1{background-position:0 0;}
.header .header-icon a.icon2{background-position: 0 -60px;}
.header .header-icon a.icon3{background-position: 0 -120px;}
.header .header-icon a.icon4{background-position: 0 -180px;}

.header .header-icon a.icon1:hover{background-position: -60px 0;}
.header .header-icon a.icon2:hover{background-position: -60px -60px;}
.header .header-icon a.icon3:hover{background-position: -60px -120px;}
.header .header-icon a.icon4:hover{background-position: -60px -180px;}

/*전체 메뉴*/
.nav{margin-top:20px;}
.nav > div{width:40%;float:left; }
.nav > div:last-child{width:20%;}
.nav > div h3{font-size:18px;color:#25a2d0;margin-bottom: 4px;}
.nav > div ol li{float:left; width:50%;}
.nav > div:last-child ol li{width:100%;}
.nav > div ol li a:hover{text-decoration: underline;}

/* 타이틀 */
.tit{height: 60px;text-align:center; position:relative;line-height:60px;}
.tit h2{font-family: 'Nanum Brush Script', cursive; color:#2c94c4; font-size:24px; letter-spacing: 2px;}
.tit .btn{width:60px; height:60px; background:url(../img/icon.png); background-position: 0 -600px; position:absolute; top:0;right:0;display:inline-block;}
.tit .btn:hover{background-position: -60px -600px;}

/*배너*/
.ban{height:135px;position: relative; padding-top:10px;}
.ban .prev{position: absolute;left:-60px;top:60px; width:43px; height:43px; background:url(../img/icon.png) no-repeat -150px 0;}
.ban .next{position: absolute;right:-60px; top:60px;  width:43px; height:43px; background:url(../img/icon.png) no-repeat -150px -43px;}

.ban ul{overflow: hidden;}
.ban ul li{float:left; width:330px;}
.ban ul li.ban_img1{text-align: left;}
.ban ul li.ban_img2{text-align:center;}
.ban ul li.ban_img3{text-align: right;}

.ban ul img{border:3px solid lightgrey;}
.ban ul img:hover{border:3px solid rgb(177, 238, 177);}

/* 컨텐츠 레이아웃 */
.cont{overflow: hidden;}/*하위에 float:left를 주면 부모한테 overflow:hidden을 주어야 함*/
.cont .column{width:288px;height: 362px;float:left;margin:0 30px 30px 0;position: relative;}
.cont .col1{border-right:1px solid #c8c8c8;}
.cont .col2{border-right:1px solid #c8c8c8;}
.cont .col3{border-right:1px solid #c8c8c8;}
.cont .col4{border-right:1px solid #c8c8c8;}
.cont .col5{border-right:1px solid #c8c8c8;}
.cont .col6{border-right:1px solid #c8c8c8;}

.cont .column .ico_img{display:block;background:url(../img/icon.png) no-repeat; position: absolute; left:0; top:0;width:60px;height:60px;}
.cont .column .ico_tit{color:#2c94c4; font-size: 16px; padding-left: 70px;}
.cont .column .ico_desc{padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 25px;}

.cont .col1 .ico_img{background-position: 0 -240px;}
.cont .col2 .ico_img{background-position: 0 -300px;}
.cont .col3 .ico_img{background-position: 0 -360px;}
.cont .col4 .ico_img{background-position: 0 -420px;}
.cont .col5 .ico_img{background-position: 0 -480px;}
.cont .col6 .ico_img{background-position: 0 -540px;}

.cont .col1 .ico_img:hover{background-position: -60px -240px;}
.cont .col2 .ico_img:hover{background-position: -60px -300px;}
.cont .col3 .ico_img:hover{background-position: -60px -360px;}
.cont .col4 .ico_img:hover{background-position: -60px -420px;}
.cont .col5 .ico_img:hover{background-position: -60px -480px;}
.cont .col6 .ico_img:hover{background-position: -60px -540px;}

/* 게시판 */
.notice{position: relative; margin-top:10px;margin-right:10px;}
.notice h4{font-size: 14px; color:#0093bd; font-weight: bold;padding-bottom:7px;}
.notice li{overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background:url(../img/dot.gif) no-repeat 0 7px; padding-left: 7px;} /*두줄을 한줄로 하는 속성 3가지*/
.notice ul li a{font-size:12px;}
.notice a.more{background:url(../img/icon.png) no-repeat -150px -90px; width: 17px;height: 17px; position: absolute; right:0; top:0;}

/* 게시판 1-2*/
.notice2{position: relative; margin-top:10px; }
.notice2 h4{font-size: 14px; color:#0093bd; font-weight: bold;padding-bottom:7px;}
.notice2 ul li span{font-size:12px; float:right; width:30%;}
.notice2 ul li{background:url(../img/dot.gif) no-repeat 0 7px; padding-left: 7px; overflow:hidden;}
.notice2 ul li a{font-size:12px; float:left; width:60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; } /*두줄을 한줄로 하는 속성 3가지*/
.notice2 a.more{background:url(../img/icon.png) no-repeat -150px -90px; width: 17px;height: 17px; position: absolute; right:10px; top:0;}

/* 게시판 2 */
.notice3{margin-top:10px;position: relative;}
.notice3 h4{font-size: 14px; color:#0093bd; font-weight: bold;padding-bottom:7px;}
.notice3 li{position: relative; padding-bottom:20px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 ul li a img{width: 51px;height: 50px; position: absolute;left:0; top:0;border:1px solid #0093bd;}
.notice3 ul li a strong{display: block;padding-left:60px;padding-top:5px;}
.notice3 ul li a span{font-size:12px;padding-left:60px;}
.notice3 a.more{background:url(../img/icon.png) no-repeat -150px -90px; width: 17px;height: 17px; position: absolute; right:10px; top:0;}

/* 마우스 오버효과 1*/
.notice_over{margin-top:10px;}
.notice_over h4{font-size: 14px; color:#0093bd; font-weight: bold;padding-bottom:7px;}
.notice_over ul{overflow: hidden;}
.notice_over li{float:left; width:83px; margin-right: 7px; text-align: center;}
.notice_over li a span{position: relative; display:block;height:83px; margin-bottom:5px; }
.notice_over li a span img{width:100%;height:83px;}
.notice_over li a span em{visibility:hidden; position: absolute; left:0;top:0; background:rgba(0,0,0,0.7);width:100%;text-align: center;line-height: 83px;}
.notice_over li a span:hover em{visibility: visible; }

/* 마우스 오버효과 2*/
.notice_over2 h4{font-size: 14px; color:#0093bd; font-weight: bold;padding-bottom:7px;}
.notice_over2 ul{overflow: hidden;}
.notice_over2 li{float:left; width:83px; margin-right: 7px; text-align: center;}
.notice_over2 li a span{position: relative; display:block; height:83px;margin-bottom:5px;}
.notice_over2 li a span img{width:100%;height:83px;}
.notice_over2 li a span em{visibility:hidden;position: absolute; left:0;bottom:0; background:rgba(0,0,0,0.5);width:100%;height:20px;text-align: center;color:white; font-style: normal;}
.notice_over2 li a span:hover em{visibility: visible;}

/* 탭 메뉴 */
.tab_menu{position:relative;border:1px solid #ccc; padding:8px;height:105px;margin-top:10px;margin-right:20px;}
.tab_menu ul{ overflow:hidden; border-bottom:1px solid #ccc;}
.tab_menu ul li{float:left;border:1px solid #ccc; margin-right:-1px;margin-bottom:-1px; }
.tab_menu ul li a{display:block; padding:5px;}
.tab_menu ul li ul{position: absolute; left:0;top:50px; width: 270px;border:0;}
.tab_menu ul li ul li{border:none;background:url(../img/dot.gif) no-repeat 8px 7px;padding-left:18px;float:none;padding-right:20px;}
.tab_menu ul li ul li a{font-size:12px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;padding:0 0 3px 0; width:100%;}
.tab_menu ul li.active{background:#2c94c4;}
.tab_menu ul li.active a{color:#fff;}
.tab_menu ul li.active ul li a{color:#333;}


/*컨텐츠 요소를 안보이게 하는 방법 */
/*
1. display:none ---- dispaly:block; //영역이 사라짐
2. visibility:hidden ----- visibility:visible //영역은 남아있는데 내용이 없어짐
3. opacity:0 ----- opacity:1
4. width:0 height:0
*/

/*게시판 4*/
.notice4{border:1px solid #ccc;margin-right:20px;position:relative}
.notice4 h4{color:#2c94c4;font-style:normal;border-bottom:1px solid #ccc;}
.notice4 h4 em{color:#c45ba9;font-style:normal;}
.notice4 ul{padding:8px 0 8px 0;}
.notice4 ul li{background:url(../img/dot.gif) no-repeat 8px 7px;font-size:12px;overflow: hidden;padding-left:18px;}
.notice4 ul li a{overflow:hidden; text-overflow: ellipsis; white-space: nowrap; padding-left:3px;width:60%;float:left;}
.notice4 ul li span{width:30%;float:right;}
.notice4 .more{position: absolute; right:8px;top:0;}

/*갤러리*/
.gallery{border:1px solid #ccc;height:254px;margin-top:10px;position: relative;overflow:hidden;}
.gallery h4{color:#2c94c4;border-bottom:1px solid #ccc;padding:10px 0 11px 5px; font-weight:bold;}
.gallery .gallery_btn{position: absolute;top:8px;right:7px;}
.gallery .gallery_btn ul{overflow:hidden;}
.gallery .gallery_btn ul li{float:left;}
.gallery .gallery_btn ul li a{display:block;width:23px;height: 23px;background:url(../img/icon.png) no-repeat;}
.gallery .gallery_img{width:100%;}

.gallery .gallery_btn li.gb_icon1 a{background-position:-150px -120px;}
.gallery .gallery_btn li.gb_icon2 a{background-position:-150px -143px;}
.gallery .gallery_btn li.gb_icon3 a{background-position:-150px -166px;}
.gallery .gallery_btn li.gb_icon4 a{background-position:-150px -189px;}

.gallery .gallery_btn li.gb_icon1 a:hover{background-position:-173px -120px;}
.gallery .gallery_btn li.gb_icon2 a:hover{background-position:-173px -143px;}
.gallery .gallery_btn li.gb_icon3 a:hover{background-position:-173px -166px;}
.gallery .gallery_btn li.gb_icon4 a:hover{background-position:-173px -189px;}

/*로그인*/
#login_form{background:#f2f4f5; padding:15px; margin-top:10px;}
.login_header{overflow:hidden;}
.login_header .lh_check{float:left;font-size:12px; height:30px; padding-right:15px;}
.login_header .lh_check #infor_check{}
.login_header .lh_ip{float:float;}
.login_header .lh_ip em{color:#0093bd; text-decoration: underline;padding-left:5px;font-style:normal;}

.login_content{overflow:hidden;}
.login_content .lc_btn{width: 62px;height: 45px; margin-left:5px;}
.login_content .input_text{float:left; margin-bottom:5px; width: 179px;height: 16px;}

.login_footer{margin-top:5px;}
.login_footer li{display:inline; margin-right:7px;}
.login_footer li a{font-size:12px;}

/* 푸터*/
#footer {}
.footer {text-align:center; padding:25px;}
.footer ul{padding-bottom:10px;}
.footer li{position: relative; display:inline; padding:0 7px;}
.footer li:before{content:''; width:1px; height:12px; background:#ccc; position:absolute; left:0; top:2px;}
.footer li:first-child:before{width:0;height:0;}

/* 팝업 */
.popup{margin-top:10px;}
.popup h4{font-size: 14px; color:#0093bd; font-weight: bold;padding-bottom:7px;}
.popup ul{overflow:hidden;}
.popup ul li{float:left; padding-right:5px;}
.popup ul img{width:90px; height: 90px;}

/* 레이어 팝업 */
#layer{display:none; position:fixed; left:50px;top:50px; width: 700px; border:10px solid #dceff7;box-shadow:3px 10px rgba(0,0,0,0.4);}
#layer img{width:100%;}
#layer .close{position: absolute;right:20px;top:20px;background: #0093bd;padding:1px 6px;color:#fff;}
#layer .close:hover{text-decoration: underline;}